# ------------------------
# NODE
# ------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ------------------------
# ENV
# ------------------------
.env
.env.*
!.env.example

# ------------------------
# BUILD
# ------------------------
dist/
build/

# ------------------------
# VITE
# ------------------------
frontend/dist/
frontend/.vite/

# ------------------------
# LOGS
# ------------------------
logs/
*.log

# ------------------------
# OS FILES
# ------------------------
.DS_Store
Thumbs.db

# ------------------------
# IDE
# ------------------------
.vscode/
.idea/

# ------------------------
# TEMP FILES
# ------------------------
*.tmp
*.swp

# ------------------------
# BACKEND SPECIFIC
# ------------------------
backend/node_modules/

# ------------------------
# FRONTEND SPECIFIC
# ------------------------
frontend/node_modules/